<div
  class="w-full h-16 md:mt-4 flex items-center justify-between font-inter text-body px-4 bg-primary"
>
  <a
    href="#info"
    class="text-base opacity-90 md:text-2xl font-bold flex items-center h-full selection:bg-body selection:text-primary"
  >
    Ivan Jovanović
  </a>
  <div
    class="rounded-2xl border-2 hover:opacity-85 border-body h-8 md:h-10 flex items-center justify-center group px-1"
  >
    <div class="rounded-2xl flex items-center justify-center group p-2">
      <a
        href="#"
        class="flex text-base base md:text-lg items-center font-medium selection:bg-body selection:text-primary"
      >
        <div class="flex items-center">
          <span>Read My Blog</span>
        </div>
      </a>
    </div>
  </div>
</div>
